[submodule "NegativeHarmony"]
	path = Plugins/NegativeHarmony
	url = git@github.com:Philtard/NegativeHarmony.git
	branch = master
	update = merge

[submodule "Plugins/HSCompressor"]
	path = Plugins/HSCompressor
	url = git@github.com:Philtard/HSCompressor.git
